body{
    background-color: rgb(226, 251, 5);
}
h1 {
    text-align: center;
    color: chocolate;
    font-family: cursive;
}

p {
    text-align: center;
    color: brown;
    font-weight: 600;
    font-family: cursive;
}